@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 25px;
}